.header {
    padding-top: var(--header-padding-top);
    padding-inline: var(--header-padding-x);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            flex-direction: column;
            width: max-content;
            border-radius: var(--border-radius-big);
            border: var(--border-width-light) solid var(--color-dark);
            background-color: var(--color-light-grey);

            padding: 35px 30px 20px;
            gap: 30px;
        }

        @include mobile-s {
            padding: 25px 20px 15px;
            gap: 20px;
        }
    }

    &__logo {
        flex-shrink: 0;
        
        img {
            width: 193px;
            height: 94px;

            @include mobile {
                width: 125px;
                height: 63px;
            }

            @include mobile-s {
                width: 100px;
                height: 50px;
            }
        }
    }

    &__menu {
        &-list {
            position: relative;
            display: flex;
            justify-content: center;
            gap: 40px;

            @include desktop {
                gap: 20px;
            }

            @include tablet {
                // gap: 25px;
                gap: 15px;
            }

            @include mobile {
                --buttonsVerticalGap: 15px;
                padding-bottom: calc(var(--button-height) + var(--buttonsVerticalGap));
            }

            @include mobile-s {
                --buttonsVerticalGap: 10px;
            }
        }

        &-item {
            @include mobile {
                &:nth-child(2) {
                    order: 3;
                }
                
                &:nth-child(3) {
                    order: 4;
                    position: absolute;
                    translate: 0 calc(100% + var(--buttonsVerticalGap));
                    width: 100%;

                    & button {
                        width: 100%;
                    }
                }
                
                &:last-child {
                    order: 2;
                }
            }
        }
    }
}