:root {
    --slider-border-width: 2px;
    
    --section-padding-y: 40px;

    --arrow-height: 22px;

    @include desktop {
        --arrow-height: 20px;
    }

    @include mobile {
        --section-padding-y: 30px;
        
        --arrow-height: 15px;
    }

    @include mobile-s {
        --section-padding-y: 20px;
    }
}