.fullscreen-button {
    @include reset-button;

    font-size: 15px;

    @include hover {
        &::after {
            width: 100%;
        }
    }

    @include tablet {
        font-size: 13px;
    }

    @include mobile {
        width: max-content;
        font-size: 10px;

        top: 0;
        left: 50%;
        translate: -50% -100%;
    }

    @include mobile-s {
        font-size: 7px;
    }

    &::after {
        content: '';
        width: 0;
        height: 1px;

        position: absolute;
        bottom: -1px;
        left: 50%;
        translate: -50% 0;

        background-color: var(--color-dark);
        transition-duration: var(--transition-duration);

        @include mobile {
            top: -1px;
        }
    }
}