.feedback {
    text-align: center;
    width: 780px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include desktop {
        width: 700px;
        gap: 35px;
    }

    @include tablet {
        width: 600px;
        gap: 30px;
    }
    
    @include mobile {
        width: 400px;
        gap: 25px;
    }

    @include mobile-s {
        width: 320px;
        gap: 20px;
    }

    &__intro {
        padding: 30px 50px;
        border: var(--border-width-regular) solid var(--color-dark);
        border-radius: var(--border-radius-big);

        @include desktop {
            padding: 30px 40px;
        }

        @include tablet {
            padding: 30px 35px;
        }

        @include mobile {
            padding-block: calc(20px + 5 * (100vw - 480px) / 288); // 20px -> 25px (480px -> 768px)
            padding-inline: 25px;
        }

        @include mobile-s {
            padding: 15px 20px;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include tablet {
            gap: 15px;
        }

        @include mobile {
            gap: 10px;
        }

        &-contacts {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &-input {
            aspect-ratio: 5;
            height: var(--input-height);

            border: var(--border-width-regular) solid var(--color-dark);
            border-radius: var(--border-radius);
            text-align: center;
            background-color: transparent;
            transition-duration: var(--transition-duration);

            &:focus, &:not(:placeholder-shown) {
                outline: none;

                & + label {
                    top: 0;
                    left: calc(var(--border-radius) + var(--labelOffset));
                    translate: 0 -100%;
                }
            }

            @mixin setResult($result) {
                box-shadow: var(--box-shadow-small-#{$result});
                border-color: var(--color-#{$result});

                & + label {
                    color: var(--color-#{$result});
                }
            }

            &--failed {
                @include setResult('red')
            } 

            &--succeed {
                @include setResult('green')
            }

            &-wrapper {
                position: relative;

                & label {
                    --labelOffset: 10px;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    transition-duration: var(--transition-duration);
                    z-index: -1;
                }
            }
        }

        &-message {
            &-wrapper {
                width: 100%;
            }

            &-title {
                color: var(--color-dark);
                transition-duration: var(--transition-duration);

                &:has(+ .feedback__form-message--failed) {
                    color: var(--color-red);
                }

                &:has(+ .feedback__form-message--succeed) {
                    color: var(--color-green);
                }
            }

            width: 100%;
            max-height: 300px;
            aspect-ratio: 2;

            border: var(--border-width-regular) solid var(--color-dark);
            border-radius: var(--border-radius-double);
            padding: 20px;
            resize: none;
            transition-duration: var(--transition-duration);

            @include tablet {
                padding: 15px;
            }

            @include mobile {
                padding: 10px;
            }

            &:focus {
                outline: none;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &--failed {
                box-shadow: var(--box-shadow-small-red);
                border-color: var(--color-red);
            } 

            &--succeed {
                box-shadow: var(--box-shadow-small-green);
                border-color: var(--color-green);
            } 
        }

        &-button {
            font-weight: 600;
            border-width: var(--border-width-regular);

            @include mobile-s {
                font-weight: 400;
            }
        }
    }
}