@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../../fonts/MontserratAlternates-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../../fonts/MontserratAlternates-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../../fonts/MontserratAlternates-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../../../fonts/MontserratAlternates-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-grey: #e0e0e0;
  --color-grey-alt: #646464;
  --color-light-grey: #f9f9f9;
  --color-light-grey-alt: #fffdfd;
  --color-blue: #272DC3;
  --color-dark-blue: #1a1d82;
  --color-red: rgb(255, 92, 92);
  --color-green: rgb(68, 212, 68);
  --border: 3px solid black;
  --border-width-black: 7px;
  --border-width-verybold: 5px;
  --border-width-bold: 3px;
  --border-width-regular: 2px;
  --border-width-light: 1px;
  --border-radius-huge: 80px;
  --border-radius-large: 60px;
  --border-radius-big: 28px;
  --border-radius-double: 20px;
  --border-radius: 10px;
  --border-radius-mini: 6px;
  --button-height: 44px;
  --button-height-large: 63px;
  --input-height: 65px;
  --from-to-input-width: 60px;
  --header-padding-x: 100px;
  --header-padding-top: 60px;
  --container-width: 1470px;
  --container-padding-x: 20px;
  --content-padding-bottom: 50px;
  --box-shadow: 0 0 30px -2px var(--color-dark);
  --box-shadow-small-red: 0 0 10px -2px var(--color-red);
  --box-shadow-small-green: 0 0 10px -2px var(--color-green);
  --text-shadow: 0 0 15px var(--color-light);
  --text-shadow-thin: 0 0 5px var(--color-light);
  --font-family-base: "Montserrat", sans-serif;
  --font-family-alt: "Montserrat Alternates", sans-serif;
  --feedback-form-sending-text: "отправляем...";
  --transition-duration: .2s;
}
@media (max-width: 1280px) {
  :root {
    --border-width-black: 6px;
    --border-width-verybold: 4px;
    --border-radius-huge: 70px;
    --input-height: 60px;
    --header-padding-x: 50px;
  }
}
@media (max-width: 1023px) {
  :root {
    --border-width-black: 5px;
    --border-width-bold: 2px;
    --border-radius-huge: 60px;
    --border-radius-large: 40px;
    --border-radius-double: 15px;
    --border-radius: 8px;
    --button-height: 38px;
    --button-height-large: 57px;
    --input-height: 50px;
    --header-padding-x: calc(10px + 90 * ((100vw - 767px) / 257));
    --header-padding-top: 40px;
  }
}
@media (max-width: 767px) {
  :root {
    --border-width-verybold: 3px;
    --border-width-black: 2px;
    --border-width-bold: 1px;
    --border-width-regular: 1px;
    --border-radius-huge: 30px;
    --border-radius-large: 20px;
    --border-radius-big: 15px;
    --border-radius-double: 10px;
    --border-radius: 5px;
    --border-radius-mini: 4px;
    --button-height: 29px;
    --button-height-large: 32px;
    --input-height: 35px;
    --header-padding-x: 0px;
    --header-padding-top: 30px;
  }
}
@media (max-width: 480px) {
  :root {
    --border-width-verybold: 2px;
    --button-height: 26px;
    --button-height-large: 29px;
    --input-height: 30px;
  }
}

body {
  font-size: 20px;
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: normal;
  color: var(--color-dark);
  background-color: var(--color-light);
}
@media (max-width: 1280px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-alt);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: max(32px, 30px + 2 * (100vw - 1280px) / 640);
}
@media (max-width: 1280px) {
  h1, .h1 {
    font-size: calc(27px + 3 * (100vw - 1024px) / 256);
  }
}
@media (max-width: 1023px) {
  h1, .h1 {
    font-size: calc(22px + 5 * (100vw - 768px) / 256);
  }
}
@media (max-width: 767px) {
  h1, .h1 {
    font-size: calc(17px + 5 * (100vw - 480px) / 288);
  }
}
@media (max-width: 480px) {
  h1, .h1 {
    font-size: 17px;
  }
}

h2, .h2 {
  font-size: max(29px, 27px + 2 * (100vw - 1280px) / 640);
}
@media (max-width: 1280px) {
  h2, .h2 {
    font-size: calc(25px + 2 * (100vw - 1024px) / 256);
  }
}
@media (max-width: 1023px) {
  h2, .h2 {
    font-size: calc(20px + 5 * (100vw - 768px) / 256);
  }
}
@media (max-width: 767px) {
  h2, .h2 {
    font-size: calc(15px + 5 * (100vw - 480px) / 288);
  }
}
@media (max-width: 480px) {
  h2, .h2 {
    font-size: 15px;
  }
}

h3, .h3 {
  font-size: max(27px, 24px + 3 * (100vw - 1280px) / 640);
}
@media (max-width: 1280px) {
  h3, .h3 {
    font-size: calc(22px + 2 * (100vw - 1024px) / 256);
  }
}
@media (max-width: 1023px) {
  h3, .h3 {
    font-size: calc(18px + 4 * (100vw - 768px) / 256);
  }
}
@media (max-width: 767px) {
  h3, .h3 {
    font-size: calc(14px + 4 * (100vw - 480px) / 288);
  }
}
@media (max-width: 480px) {
  h3, .h3 {
    font-size: 14px;
  }
}

h4, .h4 {
  font-size: max(25px, 24px + 1 * (100vw - 1280px) / 640);
}
@media (max-width: 1280px) {
  h4, .h4 {
    font-size: calc(22px + 2 * (100vw - 1024px) / 256);
  }
}
@media (max-width: 1023px) {
  h4, .h4 {
    font-size: calc(17px + 5 * (100vw - 768px) / 256);
  }
}
@media (max-width: 767px) {
  h4, .h4 {
    font-size: calc(12px + 5 * (100vw - 480px) / 288);
  }
}
@media (max-width: 480px) {
  h4, .h4 {
    font-size: 12px;
  }
}

.container {
  max-width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 20px;
  height: var(--button-height);
  font-weight: 700;
  border: var(--border-width-bold) solid var(--color-dark);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    text-shadow: var(--text-shadow);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-light);
    background-color: var(--color-dark);
    text-shadow: var(--text-shadow);
  }
}
@media (max-width: 1023px) {
  .button {
    padding-inline: 10px;
  }
}
.button--large {
  padding-inline: 30px;
  height: var(--button-height-large);
}
@media (max-width: 767px) {
  .button--large {
    padding-inline: 15px;
  }
}
.button--thin {
  border-width: var(--border-width-regular);
  font-weight: 500;
}
.button--active {
  color: var(--color-light);
  background-color: var(--color-dark);
}
@media (hover: hover) {
  .button--active:hover {
    text-shadow: none;
  }
}
@media (hover: none) {
  .button--active:active {
    text-shadow: none;
  }
}
.button--disabled {
  cursor: not-allowed;
  color: var(--color-grey-alt);
  background-color: var(--color-grey);
}
@media (hover: hover) {
  .button--disabled:hover {
    color: var(--color-grey-alt);
    background-color: var(--color-grey);
    text-shadow: none;
  }
}
@media (hover: none) {
  .button--disabled:active {
    color: var(--color-grey-alt);
    background-color: var(--color-grey);
    text-shadow: none;
  }
}
.button img {
  position: relative;
  top: 1px;
}

.dropmenu {
  position: relative;
}
.dropmenu__header {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 20px;
  height: var(--button-height);
  font-weight: 700;
  border: var(--border-width-bold) solid var(--color-dark);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  background-color: var(--color-light);
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .dropmenu__header:hover {
    color: var(--color-light);
    background-color: var(--color-dark);
    text-shadow: var(--text-shadow);
  }
}
@media (hover: none) {
  .dropmenu__header:active {
    color: var(--color-light);
    background-color: var(--color-dark);
    text-shadow: var(--text-shadow);
  }
}
@media (max-width: 1023px) {
  .dropmenu__header {
    padding-inline: 10px;
  }
}
.dropmenu__header--clicked {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: var(--color-light);
  background-color: var(--color-dark);
}
.dropmenu__header-icon {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
}
@media (max-width: 1023px) {
  .dropmenu__header-icon {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 767px) {
  .dropmenu__header-icon {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 480px) {
  .dropmenu__header-icon {
    width: 8px;
    height: 8px;
  }
}
.dropmenu__body-list {
  max-height: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: var(--border-width-bold) solid var(--color-dark);
  border-top: none;
  border-width: 0px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--color-dark);
  overflow: hidden;
  transition: max-height var(--transition-duration);
}
@media (max-width: 1023px) {
  .dropmenu__body-list {
    gap: 1px;
  }
}
@media (max-width: 480px) {
  .dropmenu__body-list {
    gap: 0.5px;
  }
}
.dropmenu__body-option {
  width: 100%;
  border: none;
  border-radius: 0;
}

.close-button {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
.close-button::before, .close-button::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 45deg;
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}
.close-button::after {
  rotate: -45deg;
}

.header {
  padding-top: var(--header-padding-top);
  padding-inline: var(--header-padding-x);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .header__inner {
    flex-direction: column;
    width: -moz-max-content;
    width: max-content;
    border-radius: var(--border-radius-big);
    border: var(--border-width-light) solid var(--color-dark);
    background-color: var(--color-light-grey);
    padding: 35px 30px 20px;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .header__inner {
    padding: 25px 20px 15px;
    gap: 20px;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__logo img {
  width: 193px;
  height: 94px;
}
@media (max-width: 767px) {
  .header__logo img {
    width: 125px;
    height: 63px;
  }
}
@media (max-width: 480px) {
  .header__logo img {
    width: 100px;
    height: 50px;
  }
}
.header__menu-list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  .header__menu-list {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .header__menu-list {
    --buttonsVerticalGap: 15px;
    padding-bottom: calc(var(--button-height) + var(--buttonsVerticalGap));
  }
}
@media (max-width: 480px) {
  .header__menu-list {
    --buttonsVerticalGap: 10px;
  }
}
@media (max-width: 767px) {
  .header__menu-item:nth-child(2) {
    order: 3;
  }
  .header__menu-item:nth-child(3) {
    order: 4;
    position: absolute;
    translate: 0 calc(100% + var(--buttonsVerticalGap));
    width: 100%;
  }
  .header__menu-item:nth-child(3) button {
    width: 100%;
  }
  .header__menu-item:last-child {
    order: 2;
  }
}

.section {
  --section-padding-y: 40px;
  padding-block: var(--section-padding-y);
}
@media (max-width: 767px) {
  .section {
    --section-padding-y: 30px;
  }
}
.section__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback {
  text-align: center;
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1280px) {
  .feedback {
    width: 700px;
    gap: 35px;
  }
}
@media (max-width: 1023px) {
  .feedback {
    width: 600px;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .feedback {
    width: 400px;
    gap: 25px;
  }
}
@media (max-width: 480px) {
  .feedback {
    width: 320px;
    gap: 20px;
  }
}
.feedback__intro {
  padding: 30px 50px;
  border: var(--border-width-regular) solid var(--color-dark);
  border-radius: var(--border-radius-big);
}
@media (max-width: 1280px) {
  .feedback__intro {
    padding: 30px 40px;
  }
}
@media (max-width: 1023px) {
  .feedback__intro {
    padding: 30px 35px;
  }
}
@media (max-width: 767px) {
  .feedback__intro {
    padding-block: calc(20px + 5 * (100vw - 480px) / 288);
    padding-inline: 25px;
  }
}
@media (max-width: 480px) {
  .feedback__intro {
    padding: 15px 20px;
  }
}
.feedback__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1023px) {
  .feedback__form {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .feedback__form {
    gap: 10px;
  }
}
.feedback__form-contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.feedback__form-input {
  aspect-ratio: 5;
  height: var(--input-height);
  border: var(--border-width-regular) solid var(--color-dark);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: transparent;
  transition-duration: var(--transition-duration);
}
.feedback__form-input:not(:-moz-placeholder-shown) {
  outline: none;
}
.feedback__form-input:focus, .feedback__form-input:not(:placeholder-shown) {
  outline: none;
}
.feedback__form-input:not(:-moz-placeholder-shown) + label {
  top: 0;
  left: calc(var(--border-radius) + var(--labelOffset));
  translate: 0 -100%;
}
.feedback__form-input:focus + label, .feedback__form-input:not(:placeholder-shown) + label {
  top: 0;
  left: calc(var(--border-radius) + var(--labelOffset));
  translate: 0 -100%;
}
.feedback__form-input--failed {
  box-shadow: var(--box-shadow-small-red);
  border-color: var(--color-red);
}
.feedback__form-input--failed + label {
  color: var(--color-red);
}
.feedback__form-input--succeed {
  box-shadow: var(--box-shadow-small-green);
  border-color: var(--color-green);
}
.feedback__form-input--succeed + label {
  color: var(--color-green);
}
.feedback__form-input-wrapper {
  position: relative;
}
.feedback__form-input-wrapper label {
  --labelOffset: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition-duration: var(--transition-duration);
  z-index: -1;
}
.feedback__form-message {
  width: 100%;
  max-height: 300px;
  aspect-ratio: 2;
  border: var(--border-width-regular) solid var(--color-dark);
  border-radius: var(--border-radius-double);
  padding: 20px;
  resize: none;
  transition-duration: var(--transition-duration);
}
.feedback__form-message-wrapper {
  width: 100%;
}
.feedback__form-message-title {
  color: var(--color-dark);
  transition-duration: var(--transition-duration);
}
.feedback__form-message-title:has(+ .feedback__form-message--failed) {
  color: var(--color-red);
}
.feedback__form-message-title:has(+ .feedback__form-message--succeed) {
  color: var(--color-green);
}
@media (max-width: 1023px) {
  .feedback__form-message {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .feedback__form-message {
    padding: 10px;
  }
}
.feedback__form-message:focus {
  outline: none;
}
.feedback__form-message::-webkit-scrollbar {
  display: none;
}
.feedback__form-message--failed {
  box-shadow: var(--box-shadow-small-red);
  border-color: var(--color-red);
}
.feedback__form-message--succeed {
  box-shadow: var(--box-shadow-small-green);
  border-color: var(--color-green);
}
.feedback__form-button {
  font-weight: 600;
  border-width: var(--border-width-regular);
}
@media (max-width: 480px) {
  .feedback__form-button {
    font-weight: 400;
  }
}

.form-overlay {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.form-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.form-overlay__body {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-overlay__sending, .form-overlay__sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  max-width: 75%;
  text-align: center;
  border: var(--border-width-regular) solid var(--color-dark);
  border-radius: var(--border-radius-double);
  background-color: var(--color-light-grey-alt);
  padding: 1.5em 3em;
}/*# sourceMappingURL=styles.css.map */