.explanatory-button {
    border: none;
    text-decoration: underline;
    background-color: transparent;
    color: var(--color-blue);
    transition-duration: var(--transition-duration);

    @include hover {
        color: var(--color-dark-blue);
        cursor: help;
    }
}