.place {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet {
        gap: 30px;
    }

    @include mobile-s {
        gap: 20px;
    }

    &__header {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 90px;

        @include desktop {
            gap: calc(50px + 20 * ((100vw - 1024px) / 896));
        }

        @include tablet {
            flex-direction: column;
            gap: 30px;
        }

        @include mobile-s {
            gap: 20px;
        }
    }

    &__slider {
        flex-shrink: 0; // temp
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        user-select: none;

        @include desktop {
            gap: 20px;
        }

        @include mobile {
            flex-direction: column;
        }

        @include mobile-s {
            gap: 10px;
        }

        &-image {
            width: 100%;
            height: 100%;
            aspect-ratio: 16 / 9;

            &-wrapper {
                flex-shrink: 0; // temp
                // width: 580px;
                aspect-ratio: 580 / 331;
                height: 331px;

                border: var(--border-width-verybold) solid var(--color-dark);
                border-radius: var(--border-radius-large);
                overflow: hidden;

                @include desktop {
                    height: 275px;
                }

                @include tablet {
                    border-radius: var(--border-radius-huge);
                }

                @include mobile {
                    height: 230px;
                }

                @include mobile-s {
                    height: 153px;
                }
            }
        }
    }

    &__description {
        --descriptionBorderWidth: 3px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        max-width: 467px;

        @include tablet {
            max-width: 570px;
            justify-content: center;
            align-items: center;

            border: var(--descriptionBorderWidth) solid var(--color-dark);
            border-radius: calc(var(--border-radius-double) * 2);
            background-color: var(--color-light-grey);

            padding: 30px 45px;
        }

        @include mobile {
            --descriptionBorderWidth: 2px;

            max-width: 410px;
            padding: 25px 30px;
        }

        @include mobile-s {
            max-width: 330px;
            padding: 20px 30px;
            gap: 15px;
        }

        &-title {
            p {
                font-weight: 900;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include tablet {
                gap: 10px;
            }

            @include mobile-s {
                gap: 7px;
            }
        }

        &-item {
            --bulletSize: 11px;
            --bulletMarginRight: 17px;
            --bulletOffsetX: calc(var(--bulletSize) + var(--bulletMarginRight));

            font-family: var(--font-family-alt);
            margin-left: var(--bulletOffsetX);

            @include desktop {
                --bulletSize: 9px;
                --bulletMarginRight: 15px;
            }

            @include tablet {
                --bulletSize: 7px;
                --bulletMarginRight: 12px;
            }

            @include mobile {
                --bulletSize: 6px;
                --bulletMarginRight: 9px;
            }

            @include mobile-s {
                --bulletSize: 5px;
                --bulletMarginRight: 7px;
            }            
    
            &-title {
                position: relative;
                font-weight: bold;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    translate: calc(-1 * var(--bulletOffsetX)) -50%;
    
                    width: var(--bulletSize);
                    height: var(--bulletSize);
                    aspect-ratio: 1;
    
                    border-radius: 50%;
                    background-color: var(--color-dark);
                }
            }

            &-info {
                font-weight: 600;

                &--offset {
                    margin-left: 1em;
                }
            }
        }

        
    }

    &__body {
        @include tablet {
            display: flex;
            justify-content: center;
        }
    }

    &__text {
        --marginBottom: 24px; 

        max-width: 1300px;

        @include desktop {
            --marginBottom: 20px;

            max-width: 1200px;
        }

        @include tablet {
            --marginBottom: 17px; 

            max-width: 650px;
            text-align: center;
        }

        @include mobile {
            --marginBottom: 13px;

            max-width: 450px;
        }

        @include mobile-s {
            --marginBottom: 10px;

            max-width: 330px;
        }
        
        &-title {
            font-weight: bold;
        }

        & p:not(:last-child) {
            margin-bottom: var(--marginBottom);
        }
    }
}