.slider {
    aspect-ratio: 110 / 331;
    height: 331px;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: var(--slider-border-width) solid var(--color-dark);
    border-radius: var(--border-radius-double);
    background-color: var(--color-dark);
    overflow-y: scroll;

    @include desktop {
        height: 275px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__button-up, &__button-down {
        --padding-top: 13px;
        --padding-bottom: 8px;

        flex-shrink: 0; // temp
        display: flex;
        justify-content: center;
        position: sticky;

        width: 100%;
        height: calc(var(--arrow-height) + var(--padding-top) + var(--padding-bottom));
        padding-top: var(--padding-top);

        border-bottom: var(--border-width-light) solid var(--color-dark);
        background-color: var(--color-grey);

        transition: var(--transition-duration);
        z-index: 1;

        @include hover {
            background-color: var(--color-grey-alt-2);
        }

        @include desktop {
            --padding-top: 11px;
            --padding-bottom: 6px;
        }

        &:active {
            background-color: #949494;
        }

        svg {
            height: var(--arrow-height);
            aspect-ratio: 26 / 22;
        }
    }

    &__button-up {
        top: 0;
    }

    &__button-down {
        bottom: 0;
        rotate: 180deg;
    }

    &__images {
        &-item {
            transition: var(--transition-duration);

            @include hover {
                opacity: .8;
            }

            &:active {
                opacity: .6;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}