.place {
    position: relative;

    &__background-way {
        position: absolute;
        top: 50%;
        left: 15px;
        translate: -100% calc(10px - 100%);

        width: 115px;
        height: 249px;

        @include tablet {
            display: none !important;
        }

        &--first {
            height: 203px;
        }
    }

    &__body {
        @include flex-center;
        gap: 50px;
        
        border-radius: var(--border-radius-double);
        padding: 25px;
        transition-duration: var(--transition-duration);
        cursor: pointer;

        @include hover {
            background-color: var(--color-grey);
        }

        @include tablet {
            padding: 20px;
        }

        @include mobile {
            padding: 10px;
        }

        @include mobile {
            gap: 20px;
        }

        @include mobile-s {
            gap: 10px;
        }
    }

    &__image {
        width: 282px;
        aspect-ratio: 287 / 162;

        @include mobile {
            width: 200px;
        }

        @include mobile-s {
            width: 150px;
        }

        &-wrapper {
            width: max-content;
            height: max-content;

            border: var(--border-width-regular) solid var(--color-dark);
            border-radius: var(--border-radius-big);
            background-color: var(--color-grey);

            overflow: hidden;

            flex-shrink: 0; // temp
        }

        flex-shrink: 0; // temp
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            position: relative;
            width: 670px;

            @include desktop {
                width: 550px;
            }

            @include tablet {
                width: 350px;
            }

            @include mobile {
                // max-width: 175px;
                max-width: calc(175px + 155 * ((100vw - 480px) / 287));
            }

            @include mobile-s {
                max-width: 100px;
            }

            &::after {
                content: '';

                width: 100%; // or through js (to calc real width of title)
                height: 2px;
                background-color: var(--color-dark);
                
                position: absolute;
                bottom: -5px;

                @include mobile {
                    height: 1px;
                }

                @include mobile-s {
                    display: none;
                }
            }

        }

        &-description {
            max-width: 600px;
            
            @include mobile-s {
                display: none;
            }
        }
    }
}