.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    @include desktop {
        gap: 50px;
    }

    @include mobile {
        gap: 40px;
    }

    @include mobile-s {
        gap: 30px;
    }

    &__body {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        border: var(--border-width-bold) solid var(--color-dark);
        border-radius: var(--border-radius-large);
        padding: 30px;
        background-color: var(--color-light-grey-alt);

        overflow-y: auto;
        scrollbar-width: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        @include tablet {
            padding-inline: 10px;
        }

        @include mobile {
            padding: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    &__filters {
        align-self: center;
    }

    &__search {
        position: sticky;
        top: 0px;

        flex-shrink: 0;
        z-index: 2;
    }
}