body {
    font-size: 20px;
    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: normal;
    color: var(--color-dark);
    background-color: var(--color-light);

    @include desktop {
        font-size: 18px;
    }

    @include tablet {
        font-size: 15px;
    }

    @include mobile {
        font-size: 12px;
    }

    @include mobile-s {
        font-size: 10px;
    }
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-alt);
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1, .h1 {
    @include fluid-text(32, 30, 27, 22, 17);
}

h2, .h2 {
    @include fluid-text(29, 27, 25, 20, 15);
}

h3, .h3 {
    @include fluid-text(27, 24, 22, 18, 14);
}

h4, .h4 {
    @include fluid-text(25, 24, 22, 17, 12);
}