:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-grey: #e0e0e0;
    --color-grey-alt: #646464;
    --color-light-grey: #f9f9f9;
    --color-light-grey-alt: #fffdfd;
    --color-blue: #272DC3;
    --color-dark-blue: #1a1d82;
    --color-red: rgb(255, 92, 92);
    --color-green: rgb(68, 212, 68);

    --border: 3px solid black;

    --border-width-black: 7px;
    --border-width-verybold: 5px;
    --border-width-bold: 3px;
    --border-width-regular: 2px;
    --border-width-light: 1px;  

    --border-radius-huge: 80px;
    --border-radius-large: 60px;
    --border-radius-big: 28px;
    --border-radius-double: 20px;
    --border-radius: 10px;
    --border-radius-mini: 6px;

    --button-height: 44px;
    --button-height-large: 63px;
    --input-height: 65px;

    --from-to-input-width: 60px;

    --header-padding-x: 100px;
    --header-padding-top: 60px;

    --container-width: 1470px;
    --container-padding-x: 20px;

    --content-padding-bottom: 50px;

    --box-shadow: 0 0 30px -2px var(--color-dark);
    --box-shadow-small-red: 0 0 10px -2px var(--color-red);
    --box-shadow-small-green: 0 0 10px -2px var(--color-green);
    --text-shadow: 0 0 15px var(--color-light);
    --text-shadow-thin: 0 0 5px var(--color-light);

    --font-family-base: 'Montserrat', sans-serif;
    --font-family-alt: 'Montserrat Alternates', sans-serif;
    --feedback-form-sending-text: 'отправляем...';

    --transition-duration: .2s;

    @include desktop {
        --border-width-black: 6px;
        --border-width-verybold: 4px;

        --border-radius-huge: 70px;

        --input-height: 60px;

        --header-padding-x: 50px;
    }

    @include tablet {
        --border-width-black: 5px;
        --border-width-bold: 2px;
        
        --border-radius-huge: 60px;
        --border-radius-large: 40px;
        --border-radius-double: 15px;
        --border-radius: 8px;
        
        --button-height: 38px;
        --button-height-large: 57px;
        --input-height: 50px;
        
        // --header-padding-x: calc(50px + 80 * ((100vw - 767px) / 257));
        --header-padding-x: calc(10px + 90 * ((100vw - 767px) / 257));
        --header-padding-top: 40px;
    }
    
    @include mobile {
        --border-width-verybold: 3px;
        --border-width-black: 2px;
        --border-width-bold: 1px;
        --border-width-regular: 1px;

        --border-radius-huge: 30px;
        --border-radius-large: 20px;
        --border-radius-big: 15px;
        --border-radius-double: 10px;
        --border-radius: 5px;
        --border-radius-mini: 4px;

        --button-height: 29px;
        --button-height-large: 32px;
        --input-height: 35px;

        --header-padding-x: 0px;
        --header-padding-top: 30px;
    }

    @include mobile-s {
        --border-width-verybold: 2px;

        --button-height: 26px;
        --button-height-large: 29px;
        --input-height: 30px;
    }
}