@mixin fluid-text($fhd, $d, $t, $m, $ms) {
    font-size: max(#{$fhd}px, calc(#{$d}px + #{$fhd - $d} * ((100vw - 1280px) / 640)));

    @include desktop {
        font-size: calc(#{$t}px + #{$d - $t} * ((100vw - 1024px) / 256));
    }

    @include tablet {
        font-size: calc(#{$m}px + #{$t - $m} * ((100vw - 768px) / 256));
    }

    @include mobile {
        font-size: calc(#{$ms}px + #{$m - $ms} * ((100vw - 480px) / 288));
    }

    @include mobile-s {
        font-size: #{$ms}px;
    }
}

@mixin reset-link {
    color: inherit;

    &, &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

@mixin flex-center($isInline: false) {
    @if $isInline { display: inline-flex; }
    @else { display: flex; }

    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: #{$size};
    aspect-ratio: 1;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
    
    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

// media mixins
$desktop-l: 1600px;
$desktop-l-above: 1601px;

$desktop: 1280px;
$desktop-above: 1281px;

$tablet: 1023px;
$tablet-above: 1024px;

$mobile: 767px;
$mobile-above: 768px;

$mobile-s: 480px;
$mobile-s-above: 481px;

@mixin desktop-l {
    @media (max-width: #{$desktop-l}) {
        @content;
    }
}

@mixin desktop-l-above {
    @media (min-width: #{$desktop-above}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-above {
    @media (min-width: #{$desktop-above}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: #{$tablet-above}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: #{$mobile-above}) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: #{$mobile-s}) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (min-width: #{$mobile-s-above}) {
        @content;
    }
}